stages:
  - install
  - lint
  - build
  - deploy

image: node:20

cache:
  paths:
    - node_modules/

variables:
  NEXT_PUBLIC_APP_URL: https://$CI_PAGES_DOMAIN

install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

lint:
  stage: lint
  script:
    - npm run lint

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - .next/
      - public/
  only:
    - main

deploy:
  stage: deploy
  script:
    - npm install -g vercel
    - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
    - vercel build --prod --token=$VERCEL_TOKEN
    - vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
  only:
    - main
  when: manual
